body {
  font-family: Arial, sans-serif;
  background: green;
  margin: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {  
  width: 600px;
  background: white;
  padding: 10px 10px 20px;
  border-radius: 16px;
  border: 5px solid white;
  box-shadow: 0 0 25px black;
  text-align: center;
  position: relative;
}

.box .logo {
  width: 100px;
  height: 100px;
  float: right;
}

.box .logo2 {
  width: 100px;
  height: 100px;
  float: left;
}

.box h1 {
  clear: both;
  margin-bottom: 100px;
  margin-top: 0px;
}

.form-area {
   display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}

.info-box {
  width: 240px;
  border: 1px solid red;
  background: pink;
  color: red;
  padding: 10px 10px;
  border-radius: 6px;
  font-size: 15px;
  display: block;
  margin: 0 167px 10px;
  opacity: 0;
}

input {
  width: 240px;
  padding: 8px 6px;
  border: none;
  border-bottom: 2px solid green;
  font-size: 15px;
  background: transparent;
  text-align: left;
}

input::placeholder {
  color: green;
}

button {
  width: 140px;
  padding: 9px 0;
  border: none;
  border-radius: 6px;
  background: green;
  color: white;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}